<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/ivan.jpg" alt="" width="200px" class="img-thumbnail rounded-circle" />
      <h1 class="display-4">Ivan nanda ibrahim</h1>
      <p class="lead">Unemployment | web programmer enthutiast</p>
    </div>
  </div>
</div>
